.title {
    background-color: black !important;
    color: azure;
    font-family: "Source Code Pro", monospace;
    font-size: 1rem;
    padding-left: 10rem;
    position: relative;
    text-align: center;
    Height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.display-3 {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: max-content;
    color: azure;
    
}
.display-3::before,
.display-3::after {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    animation: typewriter 4s steps(18) 1s forwards;
}

.display-3::before {
    background: black;
}

@keyframes typewriter {
    to { 
        left: 100%; 
    }
}

@keyframes blink {
    to {
        background: black;
    }
}

.display-3::after {
    width: 0.3rem;
    background: white; 
    animation: typewriter 4s steps(18) 1s forwards, 
                blink 1s steps(18) infinite;

}
.teamCard {
    background-color:rgb(206, 226, 245) !important;
    font-family: "Source Code Pro", monospace;
    border-radius: 0 25px 0 25px;
}
.teamMember {
    font-size: 2rem;
    font-weight: bold;
}

.jobTitle {
    font-size: 1.5rem;
    
}

.cardBody {
    border-radius: 20px;
}

.pict {
    height: 200px;
    width: 200px;
    /*padding: 5rem;
    border: 5px;
    border-color: ;
    border-radius: 100px 100px 100px 100px;*/
}

.BtnTeam {
    background-color: rgb(12, 1, 77);
}

/*link to google fonts: <style>
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,400;0,700;1,400&family=Monoton&family=Oswald:wght@200;300;400;500;600;700&family=Source+Code+Pro:wght@200;300;400;500;600;700&display=swap');
</style>*/