/* main title */

hr.solid {
  border: 0;
  height: 5px;
  background: #3b59f9;
  background: linear-gradient(165deg, #3b59f9 0%, #a9b7ff 68%);
}

/* hero */

.title {
  background-color: black !important;
  color: azure;
  font-family: "Source Code Pro", monospace;
  font-size: 1rem;
  padding-left: 10rem;
  position: relative;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-3 {
  margin: 0 auto;
  position: relative;
  width: max-content;
  color: azure;
}
.display-3::before,
.display-3::after {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  animation: typewriter 5s steps(18) 1s forwards;
}

.display-3::before {
  background: black;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: black;
  }
}

.display-3::after {
  width: 0.3rem;
  background: white;
  animation: typewriter 5s steps(18) 1s forwards, blink 1s steps(18) infinite;
}

.hero-arrow {
  cursor: pointer;
  transform: translateY(70%);
  animation: fadeIn 13s;
}

.hero-arrow img {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 5s infinite 5s;
}

@keyframes fadeIn {
  0%,
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/* intro section */

.intro-img {
  width: 100%;
  height: 100%;
}
.intro-img img {
  width: 100%;
  height: 100%;
}

/*navbar*/
.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar {
  background-color: black;
  color: #fffbfb;
}

/*Resources*/

.resources-box {
  background-color: black;
  color: #fffbfb;
  height: auto;
}
.resources-box .intro-img {
  max-height: 300px;
}
.resources-box .intro-img img {
  max-height: 300px;
}

.resources-button {
  background: linear-gradient(178.23deg, #3b59f9 1.5%, #a9b7ff 128.18%);
  border-radius: 30px;
}

/* responsive styles */

@media only screen and (max-width: 600px) {
  .title h1 {
    font-size: 2.2rem;
  }
  .title p {
    margin-top: 20px;
    font-size: 1rem;
  }
  .hero-arrow img {
    width: 50px;
  }
}
