/*This is the Hero element with the typing animation*/

.title {
    background-color: black !important;
    color: azure;
    font-family: "Source Code Pro", monospace;
    font-size: 1rem;
    padding-left: 10rem;
    position: relative;
    text-align: center;
    Height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.display-3 {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: max-content;
    color: azure;
    
}
/*Typing animation starts here*/
.display-3::before,
.display-3::after {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    animation: typewriter 4s steps(18) 1s forwards;
}

.display-3::before {
    background: black;
}

@keyframes typewriter {
    to { 
        left: 100%; 
    }
}

@keyframes blink {
    to {
        background: black;
    }
}

.display-3::after {
    width: 0.3rem;
    background: white; 
    animation: typewriter 4s steps(18) 1s forwards, 
                blink 1s steps(18) infinite;

}
/*End of typing animation and Hero element*/

/*Beginning of Meet the Team section*/

.MeetTheTeam{
    font-family: "Source Code Pro", monospace;
    font-size: 5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}
.teamCard {
    background-color:rgb(206, 226, 245) !important;
    font-family: "Source Code Pro", monospace;
    border-radius: 0 25px 0 25px;
}
.teamMember {
    font-size: 2rem;
    font-weight: bold;
}

.jobTitle {
    font-size: 1.5rem;
    
}

.cardBody {
    border-radius: 20px 20px 20px 20px!important; /*not working*/
}

.pict {
    height: 200px;
    width: 200px;
    padding: 5rem;
    border: solid 5px;
    border-color: rgb(11, 6, 40);
    /*border-image: linear-gradient(135deg, rgb(18, 10, 65), rgb(206, 226, 245)) 1; When I use this, it becomes a square*/
    border-radius: 0 275px 250px 275px !important; /*I created different shapes here, thisis my favorite so far. Let me know what ou think please*/
}

.BtnTeam {
    background-color: rgb(11, 6, 40) !important;
}

/*link to google fonts: <style>
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,400;0,700;1,400&family=Monoton&family=Oswald:wght@200;300;400;500;600;700&family=Source+Code+Pro:wght@200;300;400;500;600;700&display=swap');
</style>*/