* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", Verdana, sans-serif;
  letter-spacing: 0.8px;
}

main {
  transition: all 0.5s ease-in-out;
}

:root {
  --overlay: #f0ffffe8;
  --dark-color: #1b1b1b;
  --white: #f5f5f6;
  --dark-blue: #1932c2;
  --blue: #3b59f9;
  --light-blue: #a9b7ff;
  --transition: all 0.3s ease-in-out;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
} */

.theme-btn {
  outline: none;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.lang-btn {
  width: 22px;
  height: 22px;
}
